<div>
    <form role="form" ng-class="{hidden: pulls.length}" ng-submit="submitForm()">
      <div class="form-group">
        <label>Owner</label>
        <input type="text" name="owner" class="form-control" id="owner" value="mozilla" ng-model="owner">
      </div>
      <div class="form-group">
        <label>Repo</label>
        <input type="text" name="repo" class="form-control" id="repo" placeholder="e.g. socorro" ng-model="repo">
      </div>
      <div>
        <button class="btn btn-primary">Do. It!</button>
      </div>
    </form>
</div>
