<div>
    <div id="error" ng-class="{hidden: !general_error}">
       <h3>Error :(</h3>
       <p>
         {{ general_error }}
       </p>
    </div>

    <div id="cloak" ng-class="{hidden: !loading}">
        <p><img src="/static/keep-calm.png" alt="Keep Calm and Eat a Cookie"><br>

        <span class="blinking">Loading loading loading...<span class="dots"></span></span>
        </p>
    </div>

    <h5>
        All <a href="https://github.com/{{ owner }}/{{ repo }}/pulls">open pull requests</a>
        for <a href="https://github.com/{{ owner }}/{{ repo }}">github.com/{{ owner }}/{{ repo }}</a>
    </h5>

    <table class="table table-condensed table-bordered"
      ng-class="{hidden: !pulls.length}">
     <thead>
     <tr>
         <th>Bug</th>
         <th>Title</th>
         <th>Last Updated</th>
         <th>People</th>
         <th>Last actor</th>
         <th>State</th>
     </tr>
     </thead>
     <tbody>
         <tr ng-repeat="pull in pulls | orderBy:'updated_at':true">
             <td>
                 <a ng-repeat="bug in pull._bugs" href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug }}" target="_blank"
                  title="{{ makeBugTitle(bug) }}" ng-class="{closed: isClosed(bug)}">{{ bug }}</a>
             </td>
             <td>
                 <img ng-src="{{ pull.user.avatar_url }}" class="avatar" alt="{{ pull.user.login }}">
                 <a href="{{ pull.html_url }}" target="_blank">{{ pull.title }}</a>

                 <a href="" ng-click="toggleExpandPull(pull)">
                    <span class="glyphicon glyphicon-plus" ng-if="!pull._expanded"
                           style="font-size:70%"></span>
                    <span class="glyphicon glyphicon-minus" ng-if="pull._expanded"
                          style="font-size:70%"></span>

                 </a>

                 <table ng-class="{hidden: !pull._expanded}" class="expanded table table-condensed">
                     <tr ng-repeat="event in pull._events | orderBy:'_date':false">
                         <td>
                             <span ng-if="event._type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                             <span ng-if="event._type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                             <span ng-if="event._type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
                             <span ng-if="event._type === 'status-success'" class="octicon octicon-check"></span>
                             <span ng-if="event._type === 'status-failure'" class="octicon octicon-x"></span>
                             <span ng-if="event._type === 'status-pending'" class="octicon octicon-hourglass"></span>
                             <a href="{{ event._url }}">
                                 {{ event._summary }}
                             </a>
                         </td>
                         <td><time am-time-ago="event._date"></time></td>
                     </tr>
                 </table>
             </td>
             <td><time am-time-ago="pull.updated_at"></time>
             </td>
             <td>
                 <a ng-repeat="user in uniqueUsers(pull)"
                    href="{{ user.html_url }}" target="_blank" title="{{ user.login }}">
                     <img class="avatar" ng-src="{{ user.avatar_url}}" alt="{{ user.login }}">
                 </a>
            </td>
            <td>
                    <img ng-src="{{ pull._last_actor.user.avatar_url }}" class="avatar" alt="{{ pull._last_actor.user.avatar_url }}">
                    <a href="{{ pull._last_actor.url }}" target="_blank">
                        <span ng-if="pull._last_actor.type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                        <span ng-if="pull._last_actor.type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                        <span ng-if="pull._last_actor.type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
<!--                         ({{ pull._last_actor.type }}) -->
                    </a>

            </td>

            <td>
                 <span ng-if="isMergeable(pull)" title="Can be merged" class="good glyphicon glyphicon-ok"></span>
                 <span ng-if="!isMergeable(pull)" title="We can’t automatically merge this pull request." class="bad glyphicon glyphicon-resize-full"></span>
                 <span ng-if="hasStatuses(pull)">
                     <span ng-if="isLastStatus(pull, 'success')" title="Last test succeeded" class="good glyphicon glyphicon-ok"></span>
                     <span ng-if="isLastStatus(pull, 'failure')" title="Last test failed!" class="bad glyphicon glyphicon-remove"></span>
                     <span ng-if="isLastStatus(pull, 'pending')" title="Latest test pending" class="bad glyphicon glyphicon-time"></span>

                 </span>
<!--                  <span ng-if="creatorHadLastWord()" title="The creator was the last to word on it" class="maybe glyphicon glyphicon-user"></span>
                 <span ng-if="!creatorHadLastWord()" title="The reviewer (or someone else) had the last word on it" class="maybe glyphicon glyphicon-heart"></span> -->

            </td>
        </tr>
     </tbody>
    </table>
    <p><a href="/">Pick another project</a></p>
</div>
