Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.8
cssmin==0.2.0
grymt==1.4
cffi==1.6.0
itsdangerous==0.24
jsmin==2.1.6
pylibmc==1.5.1
python-memcached==1.57
requests==2.9.1
wsgiref==0.1.2
Flask-Cache==0.13.1
Flask-Heroku-Cacheify==1.5
Flask-SSLify==0.1.5
gunicorn==19.3.0
whitenoise==2.0.6
ndg-httpsclient==0.4.0
pyOpenSSL==16.0.0
pyasn1==0.1.9
