<div class="error" ng-class="{hidden: !general_error}">
   <h3>Error :(</h3>
   <p>
     {{ general_error }}
   </p>
</div>

<div ng-repeat="group in groups" class="group">

    <div class="cloak" ng-class="{hidden: !group.loading}">
        <p><img src="/static/keep-calm.png" alt="Keep Calm and Eat a Cookie"><br>

        <span class="blinking">Loading loading loading...<span class="dots"></span></span>
        </p>
    </div>

    <h4>
        All <a href="https://github.com/{{ group.owner }}/{{ group.repo }}/pulls">open pull requests</a>
        for <a href="https://github.com/{{ group.owner }}/{{ group.repo }}">github.com/{{ group.owner }}/{{ group.repo }}</a>

        <a href=""
           ng-if="groups.length!=1"
           ng-click="removeGroup(group.owner, group.repo)"
           title="Click to remove this project from your page"
           class="closer"
           >&times;</a>
    </h4>

    <table class="table table-condensed table-bordered"
      ng-class="{hidden: !group.pulls.length, multiple: groups.length!=1}">
     <thead>
     <tr>
         <th ng-if="use_bug" class="bug">Bug
             <a href="" ng-click="hideBug()" title="Click to remove this column" ng-if="!group.loading" class="closer">&times;</a>
         </th>
         <th class="title">Title</th>
         <th class="last-updated">Last Updated</th>
         <th ng-if="use_assigned" class="assigned">Assigned
             <a href="" ng-click="hideAssigned()" title="Click to remove this column" ng-if="!group.loading" class="closer">&times;</a>
         </th>
         <th class="people">People</th>
         <th class="last-actor">Last actor</th>
         <th class="state">State</th>
     </tr>
     </thead>
     <tbody>
         <tr ng-repeat="pull in group.pulls | orderBy:'updated_at':true">
             <td ng-if="use_bug">
                 <a ng-repeat="bug in pull._bugs" href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug }}" target="_blank"
                  title="{{ makeBugTitle(bug) }}" ng-class="{closed: isClosed(bug)}">{{ bug }}</a>
             </td>
             <td>
                 <a href="{{ pull.user.html_url }}"><img ng-src="{{ pull.user.avatar_url }}" class="avatar" alt="{{ pull.user.login }}"></a>
                 <a href="{{ pull.html_url }}" target="_blank">{{ pull.number}}: {{ pull.title }}</a>

                 <a href="" ng-click="toggleExpandPull(pull)">
                    <span class="glyphicon glyphicon-plus" ng-if="!pull._expanded"
                           style="font-size:70%"></span>
                    <span class="glyphicon glyphicon-minus" ng-if="pull._expanded"
                          style="font-size:70%"></span>

                 </a>

                 <table ng-class="{hidden: !pull._expanded}" class="expanded table table-condensed">
                     <tr ng-repeat="event in pull._events | orderBy:'_date':false">
                         <td>
                             <span ng-if="event._type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                             <span ng-if="event._type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                             <span ng-if="event._type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
                             <span ng-if="event._type === 'status-success'" class="octicon octicon-check"></span>
                             <span ng-if="event._type === 'status-failure'" class="octicon octicon-x"></span>
                             <span ng-if="event._type === 'status-pending'" class="octicon octicon-hourglass"></span>
                             <a href="{{ event._url }}">
                                 {{ event._summary }}
                             </a>
                         </td>
                         <td><time am-time-ago="event._date"></time></td>
                     </tr>
                 </table>
             </td>
             <td><time am-time-ago="pull.updated_at"></time>
             </td>
            <td ng-if="use_assigned">
                 <a ng-if="pull.assignee" href="{{ pull.assignee.html_url }}" target="_blank" title="{{ pull.assignee.login }}">
                    <img ng-src="{{ pull.assignee.avatar_url }}" class="avatar" alt="{{ pull.assignee.login }}">
                 </a>
            </td>
             <td>
                 <a ng-repeat="user in uniqueUsers(pull)"
                    href="{{ user.html_url }}" target="_blank" title="{{ user.login }}">
                     <img class="avatar" ng-src="{{ user.avatar_url}}" alt="{{ user.login }}">
                 </a>
            </td>
            <td>
                    <a href="{{ pull._last_actor.user.html_url }}"><img ng-src="{{ pull._last_actor.user.avatar_url }}" class="avatar" alt="{{ pull._last_actor.user.avatar_url }}"></a>
                    <a href="{{ pull._last_actor.url }}" target="_blank">
                        <span ng-if="pull._last_actor.type === 'commit'" title="commit added" class="octicon octicon-git-commit"></span>
                        <span ng-if="pull._last_actor.type === 'comment'" title="comment posted" class="octicon octicon-comment"></span>
                        <span ng-if="pull._last_actor.type === 'creation'" title="pull request created" class="octicon octicon-git-pull-request"></span>
                    </a>

            </td>

            <td>
                 <span ng-if="isMergeable(pull)" title="Can be merged" class="good glyphicon glyphicon-ok"></span>
                 <span ng-if="!isMergeable(pull)" title="We can’t automatically merge this pull request." class="bad glyphicon glyphicon-resize-full"></span>
                 <span ng-if="hasStatuses(pull)">
                     <span ng-if="isLastStatus(pull, 'success')" title="Last test succeeded" class="good glyphicon glyphicon-ok"></span>
                     <span ng-if="isLastStatus(pull, 'failure')" title="Last test failed!" class="bad glyphicon glyphicon-remove"></span>
                     <span ng-if="isLastStatus(pull, 'pending')" title="Latest test pending" class="maybe glyphicon glyphicon-time"></span>
                 </span>
            </td>
        </tr>
     </tbody>
    </table>
</div>
<p>
    <a href="" ng-click="show_add_form=true">Add another project to this page</a>
    &nbsp;
    <a href="/">Pick a different project</a>
</p>

<form role="form" ng-class="{hidden: !show_add_form}" ng-submit="submitForm()">
  <div class="form-group">
    <label for="new_owner">Owner</label>
    <input type="text" name="new_owner" class="form-control" id="new_owner" placeholder="e.g. mozilla" ng-model="new_owner">
  </div>
  <div class="form-group">
    <label for="new_repos">Repos</label>
    <input type="text" name="new_repos" class="form-control" id="new_repos" placeholder="e.g. socorro, servo" ng-model="new_repos">
  </div>
  <div>
    <button class="btn btn-primary">Add. It!</button>
  </div>
</form>
